$base-font-size: 16px; // Базовый размер шрифта

// fonts
$font-primary: 'Raleway', sans-serif;
$font-accent: 'Cardo', sans-serif;

// font-sizes

// fonts-colors
$primary-color: rgba(255, 255, 255, 1);
$title-color:rgba(45, 48, 51, 1);
$secondary-color: rgba(108, 114, 121, 1);
$accent-color: rgba(255, 67, 67, 1);
$download-description-color:rgba(0, 0, 0, 1); 
$copyright-text-color:rgba(128, 128, 128, 1);
$icon-color:rgba(198, 203, 205, 1);

// background-colors
$base-color:rgba(255, 255, 255, 1);
$mask-color:rgba(37, 43, 73, 0.8);
$slider-color:rgba(92, 50, 73, 1);
$footer-color:rgba(53, 60, 101, 1);
$footer-copyright-color:rgba(44, 49, 84, 1);

// details-colors
$navigation-separator-color:rgba(186, 187, 197, 1);

// states-colors
    // navigation
$navigation-hover-color:rgba(186, 187, 197, 1);
$navigation-active-color:rgba(231, 20, 20, 1);
    // gallery
$gallery-item-hover:rgba(255, 67, 67, 0.8); 
$gallery-item-active:rgba(185, 12, 12, 0.8);

// button-colors
$button-color:rgba(255, 67, 67, 1);
$button-hover-color:rgba(231, 20, 20, 1);

// slider
$slider-pagination-color:rgba(126, 93, 111, 1);
