.downloand {
    padding: 114px 0;
}
.downloand-inner {
}
.downloand__title {
    max-width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 70px;
    margin-bottom: 5.29px; 
}
.downloand__description {
    display: block;
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21px;
    margin-bottom: 47.71px;
}
.downloand__button {
    display: flex;
    justify-content: center ;
}
.button {
}