.features {
    padding: 116px 0;
    display: flex;
    justify-content: center;
    @include mobile{
        padding: 40px 0 35px;
    }
}

.features__grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: grid;
    grid-template:repeat(2, minmax(auto, 305px))/repeat(3, minmax(auto, 370px));
    grid-gap: 89px 31px;

    @include tablet{
        grid-template-columns: repeat(auto, minmax(315px, 1fr));
        grid-template-rows: repeat(2, minmax(238px, auto));
        grid-gap: 49px 20px ;   
    }
    @include mobile {
        grid-template:repeat(6, 223.54px)/repeat(1, 279px);
        grid-column-gap: 42px;
    }
}
.features__grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.features__img {
   display: flex;
   justify-content: center;
}
.features__img img{
    width:100%;
    height: 100%;

    @include tablet {
        width:85%;
        height: auto;
    }

    @include mobile {
        margin-bottom: 8.84px;
    }

}
.features__content{
    text-align: center;
}
.features__title {
    margin-bottom: 42.43px;
    @include text (24px,900,$title-color);
    text-transform: uppercase;

    @include tablet {
        @include text (18px,900,$title-color);
        margin-bottom: 24px;
    }

    @include mobile {
        margin-bottom: 8.84px;
    }
}
.features__description {
    @include text (18px,400,$secondary-color);

    @include tablet {
        @include text (14px,400,$secondary-color);
        margin-bottom: 24px;
    }

    @include mobile {
        margin-bottom: 8.84px;
    }
}