.footer {
    padding-top: 71.14px;
    background: $footer-color;  
     
}
.footer__content {
    display: flex;
    justify-content: space-between;
    margin-bottom:67.14px;

    @include mobile{

    }
}
.footer-item {
    margin: 0;
    text-align: center;
    max-width: 370px;
    @include tablet{
        width: 315px;
    }
}
.footer__title {
    @include text(18px, 700, $primary-color);

    text-transform: uppercase;
    margin-bottom: 29px;

    @include tablet{
        @include text(14px, 700, $primary-color);
    }
}
.footer__description {
    @include text (18px, 400, $primary-color);
    text-transform: capitalize;

    @include tablet{
        @include text(14px, 400, $primary-color);
        width: 100%;
    }
}
.footer__social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tablet{
        max-width: 145px;
    }
}
.footer__icon {
    display: flex;
    justify-content:space-between;
}
.footer__icon-item {
   

}
.footer__icon-link {

}

.footer-scopyright {
    background: $footer-copyright-color;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}
.footer__copyright-description {
    text-align: center;
    max-width: 370px;
    @include text (18px, 400, $copyright-text-color);

    @include tablet{
        max-width: 314px;
        @include text (14px, 400, $copyright-text-color);
    }
}
.footer__copyright-accent {
    display: inline-block;
    color: $primary-color;

}