.gallery{
    display: flex;
    justify-content: center;
}
.gallery-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.gallery__item {
    flex-basis: 25%; 
    max-width: calc(25% - 2px);
    max-height: calc(25vw - 2px); 
    margin: 1px;
    cursor: pointer;
    position: relative;
    
    @include mobile{
        flex-basis: 50%; 
        max-width: calc(50% - 4px);
        max-height: calc(50vw - 4px);  
    }
 
    &:hover::after {
        background-color: $gallery-item-hover;
    }
    &:active::after{
        background-color: $gallery-item-active;
    }
    &::after{
        content: '';
        background-color: transparent;
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        transition: 0.5s ease-in-out;
    } 

    .gallery__item-overlay{
        position: absolute;
        display: inline-block;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease;
        text-align: center;
        z-index: 5;
    }
    &:hover .gallery__item-overlay {
        opacity: 1;
    }
    
    .gallery__item-title{
        font-size: 24px;
        font-weight: 900;
        color: $primary-color;
        text-transform: uppercase;
        line-height: 60px;
        margin-bottom: 20px;
    }
    .gallery__item-description{
        font-size: 18px;
        font-weight: 400;
        color: $primary-color;
    }
}

.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}