.gallery{
    
}
.gallery-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.gallery__item {
    flex-basis: 25%; 
    max-width: calc(25% - 0.125rem);
    max-height: calc(25vw - 0.125rem); 
    margin: 0.0625rem;
    cursor: pointer;
    position: relative;

    @include mobile{
        flex-basis: 50%; 
        max-width: calc(50% - 2px);
        max-height: calc(50vw - 2px);  
    }
 
    &:hover::after {
        background-color: $gallery-item-hover;
    }
    &:active::after{
        background-color: $gallery-item-active;
    }
    &::after{
        content: '';
        background-color: transparent;
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        transition: 0.5s ease-in-out;
    } 

    .gallery__item-overlay{
        position: absolute;
        display: inline-block;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s ease;
        text-align: center;
        z-index: 5;
    }
    &:hover .gallery__item-overlay {
        opacity: 1;
    }
    
    .gallery__item-title{
        @include text (clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem),900,$primary-color);
        text-transform: uppercase;
        line-height: 60px;
        margin-bottom: 20px;
        @include mobile{
            line-height: 0px;
        }
    }
    .gallery__item-description{
        @include text (clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem),400,$primary-color);
    }
}

.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}