.header {
    padding-bottom:120px;
    background: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::after{
        content: '';
        background-color: $mask-color;
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        left: 0;
        top: 0;
    }
}

.header__top {
    margin-bottom: 130px;
}
.header__top-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid $navigation-separator-color;
}
.header__logo {
    
}
.header__menu {

}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}   
.menu__list-item {
    text-align: center;
    .menu__link {
        display: inline-block;
        width: 134px;
        line-height: 28px;
        padding: 32px 0 36px;  
        text-transform: uppercase;
        @include text (13px, 700, $primary-color);

        border-bottom: 2px solid transparent;
        transition: 0.5s ease-out;

        &:hover {
            cursor: pointer;
            border-bottom-color: $navigation-hover-color; 
        }

        &:active {  
            border-bottom-color: $navigation-active-color;
            color:$navigation-active-color ;
        }

        @include tablet{
            width: 112px;
            @include text (12px, 700, $primary-color);
        }

        @include mobile{

        }
    }
  
}

.menu__burger{
    display: none;
}

.header__content {

}
.header__content-inner {

}
.header__content-title {
    @include text(64px,900,$primary-color);  

    text-transform: uppercase; 
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom:31px;

    @include tablet{
        @include text(48px,900,$primary-color);
        margin-bottom:62px;
    }

    @include mobile{

    }
}
.header__content-description {
    @include text(24px,400,$primary-color);    

    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 80px;

    @include tablet{
        @include text(18px,400,$primary-color);   
        margin-bottom: 90px;
    }

    @include mobile{
        
    }
}
.header__button {
    margin: auto;
    text-align: center;
}
.button{
    @include button;
}

