.team {
    padding: 114px 0;
    display: flex;
    justify-content: center;
    @include tablet{
        padding: 78px 0;
    }
    @include mobile{
        padding: 35px 0;
    }
}

.team__grid {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template: repeat(1, minmax(619px, auto)) / repeat(4, 270px);
    grid-column-gap: 38px ;
    
    @include tablet{
        grid-template: repeat(1, minmax(521px, auto)) / repeat(4, 220px);
        grid-column-gap: 20px ;
    }
    @include mobile{
        grid-template: repeat(4, minmax(521px, auto)) / repeat(1, 280px);
        grid-row-gap: 56px ;
    }   
}
.team__grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.team__img {
    margin-bottom: clamp(1.578rem, 1.47rem + 0.54vw, 1.875rem);
    width: 100%;
}
.team__title {
    @include text(24px,700,$title-color);
    margin-bottom: clamp(0.288rem, 0.273rem + 0.08vw, 0.331rem);
    width: 100%;
    @include tablet{
        @include text(18px,700,$title-color);
    }
    @include mobile{
        margin-bottom: 5px;
    }
}
.team__subtitle {
    display: block;
    @include text(18px,400,$accent-color);
    text-transform: uppercase;
    margin-bottom: 17.86px;
    width: 100%;
    @include tablet{
        @include text(14px,400,$accent-color);
    }
    @include mobile{
        margin-bottom: 38.5px;
    }
  
}
.team__description {
    @include text (18px, 400, $secondary-color);
    margin-bottom: 37.86px;
    width: 100%;
    @include tablet{
        @include text(14px,400,$secondary-color);
    }
    @include mobile{
        margin-bottom: 55.15px;
    }
}
.team__icon {
    display: flex;
    justify-content: flex-start;
}
.team__icon-item {
    margin-right: 5px;
    border: 1px solid $icon-color;
}
.team__icon-item:last-child{
    margin-right: 0;
}

.team__icon-link {
    display: inline-block;
    width: 39px;
    line-height: 39px;
    text-align: center;
}
.fa-facebook-f {
    font-size: 18px;
    color: $icon-color;
}
.fa-twitter {
    font-size: 18px;
    color: $icon-color;
}
.fa-linkedin {
    font-size: 18px;
    color: $icon-color;
}