*{
    margin: 0;
    padding: 0;
    list-style:none;
    box-sizing: border-box;
    text-decoration: none;
}

@import './base/cdn';   
@import './base/fonts';
@import './base/mixsins';
@import './base/variables';

@import './blocks/header';
@import './blocks/features';
@import './blocks/gallery';
@import './blocks/team';
@import './blocks/slider';
@import './blocks/downloand';
@import './blocks/footer';


html{
    font-family: $font-primary;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;

    @include tablet{
        max-width: 984px;
        padding: 0 20px;
    }

    @include mobile{
        max-width: 100%;
        padding: 0 20px;  
    }    
}

.button{
    display: inline-block;
    width: 370px;
    line-height: 78px;
    background-color: $button-color;
    
    text-align: center;

    @include text(24px,900,$primary-color);  
    
    text-transform: uppercase;  
    transition: 0.5s ease-out; 

    animation: pulse 2s infinite;
    @include button-animation;

    &:hover{
        background-color: $button-hover-color;
    }
    &:active{
        background-color: $button-color;
        box-shadow: 0 0 30px $button-color;
    }

    @include tablet{
        width: 313px;
        @include text(18px,900,$primary-color);  
        line-height: 80px;
    }

}

.icon-item {
    border: 1px solid $icon-color;

}
.icon-link {
    display: inline-block;
    width: 39px;
    line-height: 39px;
    text-align: center;

    @include tablet{
        width: 33px;
        line-height: 33px;
    }
}

.icon-style{
    font-size: 18px;
    color: $icon-color; 

    @include tablet{
        font-size: 15px;
    }
}

.active{
    transform: translate(0, 0);
}
