*{
    margin: 0;
    padding: 0;
    list-style:none;
    box-sizing: border-box;
    text-decoration: none;
}

@import './base/cdn';   
@import './base/fonts';
@import './base/mixsins';
@import './base/variables';

@import './blocks/header';
@import './blocks/features';
@import './blocks/gallery';
@import './blocks/./team';

@import './blocks/downloand';
@import './blocks/footer';


html{
    font-family: $font-primary;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.button {
    width: 370px;
    line-height: 78px;
    background-color: $button-color;

    color: $primary-color;
    text-align: center;
    font-size: 24;
    font-weight: 900;   
    text-transform: uppercase;  
    transition: 0.5s ease-out; 

    &:hover{
        background-color: $button-hover-color;
    }
    &:active{
        background-color: $button-color;
        box-shadow: 0 0 30px $button-color;
    }
}

.icon-item {
    border: 1px solid $icon-color;
}
.icon-link {
    display: inline-block;
    width: 39px;
    line-height: 39px;
    text-align: center;
}
.fa-facebook-f {
    font-size: 18px;
    color: $icon-color;
}
.fa-twitter {
    font-size: 18px;
    color: $icon-color;
}
.fa-linkedin {
    font-size: 18px;
    color: $icon-color;
}